
.container-list{
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
    margin-top: 24px;
    margin-left: 4px;
}

.container-timers{
    display: flex;
    flex-direction: column;
    min-width: 90%;
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 4px;
}


.button-next{
    display: flex;
    justify-content: end;
    margin-top: 32px;
}

