.footer{
    overflow-y: scroll;
    position: fixed;
    left: 0;
    right: 0;
    bottom: -195px;
    transition: bottom 0.3s ease;
    z-index: 99;
    overflow-y: hidden;
}

.visible {
    bottom: 0;
}