#bbqname {
  color: #e49976;
}
.upcomingbbqlist {
  height: 200px;
  overflow-y: scroll;
}
.upcomingbbqlist::-webkit-scrollbar {
  width: 0.5em;
}

.upcomingbbqlist::-webkit-scrollbar-thumb {
  background-color: #e49976;
}

.list-item{
  display: flex;
  border-color: #e49976;
  border-style: dotted;
  border-width: 1px;
  height: 80px;
  width: 100%;
}

.button-header{
  width: 100%;
}