#bbqname {
  color: #e49976;
}
.upcomingbbqlist {
  overflow-y: scroll;
}
.upcomingbbqlist::-webkit-scrollbar {
  width: 0.5em;
  
}
.scroll{
  overflow-y: scroll;
  scrollbar-width: 20px;
}

.upcomingbbqlist::-webkit-scrollbar-thumb {
  background-color: #6a9848;
}

.list-item{
  overflow-y: auto;
  border-color: #6a9848;
  border-style: double;
  border-width: 2px;
  width: 100%;
}

.list-img{
  overflow-y: auto;
  margin-bottom: 2px;
  width: 100%;
}

.list-img > img{
  width: 100%;
  object-fit: cover;
  height: 120px;
  background-size: cover;
}

.button-header{
  width: 100%;
}