#bbqname {
  color: #e49976;
}
.upcomingbbqlist {
  overflow-y: scroll;
}
.upcomingbbqlist::-webkit-scrollbar {
  width: 0.5em;
}

.upcomingbbqlist::-webkit-scrollbar-thumb {
  background-color: #e49976;
}

.list-item{
  display: flex;
  justify-content: center;
  border-color: #e49976;
  border-style: dotted;
  border-width: 1px;
  width: 100%;
}

.list-item:hover{
  background-color: #546a2f;
  
}
.button-header{
  width: 100%;
}